<div class="container">
  <h1>Boostrap Datepicker</h1>

  <div class="form-group">
    <input type="text"
           id="date1"
           class="form-control"
           autocomplete="off"
           bsDatepicker
           [bsConfig]="datePickerConfig">
  </div>

  <h1>Bootstrap Datepicker in Modal</h1>

  <button type="button" class="btn btn-primary" (click)="openModal(modalWithDatepicker)">Open Modal with Datepicker</button>

  <ng-template #modalWithDatepicker>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal with Datepicker</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="test-box">
        <h4>Datepicker</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <div class="form-group">
          <input type="text"
                 id="date2"
                 class="form-control"
                 autocomplete="off"
                 bsDatepicker
                 [bsConfig]="datePickerConfig">
        </div>
      </div>
    </div>
  </ng-template>


  <br>
  <br>
  <h1>Bug view:</h1>

  <img src="../assets/bug-gif.gif" alt="Bug video">

</div>
